spring:
  application:
    name: OrderService

  datasource:
    url: jdbc:mysql://localhost:3306/kodkartdb
    username: root
    password: A9861@wini#
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  tracing:
    sampling:
      probability: 1.0

logging:
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %5p [OrderService,%X{traceId},%X{spanId}] %logger - %msg%n"
